.profile-container .username {
    font-family: 'Arial', sans-serif !important;
    font-size: 18px !important;
    color: black !important;
    text-align: center !important;
    font-weight: bold !important;
}