.inp-text {
    width: 771px;
    height: 51px;
    margin: 47px 0;
    border-radius: 12px; /* Добавляем скругление здесь */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #9799A4;
    padding-left: 50px; /* Отступ от левого края для иконки */
    border-color: #CACFD0;
    border-width: 1px;
}
  
.search-button {
    margin-top: 47px;
    margin-left: 80px;
    height: 51px;
    width: 198px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #1890FF;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-icon{
    width: 29px;
    height: 23px;
    position: absolute;
    margin-left: 12px;
    margin-top: 14px;
}