.search-bar {
    position: relative;
}

.inp-text {
    height: clamp(30px, 5vh, 5vh);
    width: 100%;
    margin: 4vh 0;
    border-radius: 12px; /* Добавляем скругление здесь */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: clamp(18px, 2.5vh, 2.5vh);
    color: #9799A4;
    padding-left: clamp(60px, 3vw, 3vw); /* Отступ от левого края для иконки */
    border-color: #CACFD0;
    border-width: 1px;
}

.search-button {
    margin-top: 4vh;
    width: 100%;
    height: clamp(30px, 5vh, 5vh);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(18px, 2.4vh, 2.4vh);
    background-color: #1890FF;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.search-icon{
    height: clamp(18px, 2.5vh, 2.5vh);
    position: absolute;
    margin-left: clamp(10px, 1vw, 1vw);
    margin-top: 1.2vh;
}

/*@media (max-width: 850px){
    .search-button {
        width: 100%;
    }
}

@media (max-width: 1350px) and (min-width: 851px) {
    .search-button {
        width: 50%;
        margin-right: 0;
    }
}

/*@media (max-width: 480px) {
    .inp-text {
        width: 240px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 5px;
        font-size: 18px;
    }
      
    .search-button {
        margin-top: 25px;
        margin-left: 28px;
        height: 40px;
        width: 75px;
        font-size: 18px;
    }
    
    .search-icon{
        width: 24px;
        height: 19px;
        margin-left: 12px;
        margin-top: 10px;
    }
}*/