/*.container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  min-width: 800px;
}
.containerLoading {
  filter: blur(8px);
}

@media (max-width: 600px) {
  .container{
      min-width: auto;
  }
}*/

.containerLoading {
  display: flex;
  align-items: center; /* Центрирует по вертикали */
  justify-content: center; /* Центрирует по горизонтали */
}

.container-2 {
  width: 100vw;
  max-width: 100%;
  position: relative;
  top: 120px;
  justify-content: center;
}

.cities-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.cities-title h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: black;
  letter-spacing: -0.01em; /* Отрицательное значение для уменьшения интервала между буквами */
  width: 582px;
  height: 102px;
  text-align: center;
}

.cities-and-search {
  background-color: #ECF4FF;
  width: 100%;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
  gap: 25px;
  justify-content: space-between;
  margin-top: 15px;
}

.cities-not-found h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 44px;
  color: black;
  letter-spacing: -0.01em; /* Отрицательное значение для уменьшения интервала между буквами */
  width: 582px;
  height: 102px;
  text-align: left;
}

.btn-favorites{
  position: absolute;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
  margin-top: 47px;
  margin-left: -46px;
}

.btn-favorites img{
  height: 100%;
  object-fit: cover;
}

.badge {
  top: -10px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: #CF0000;
  color: white; /* Цвет текста */
  font-family: 'Arial', sans-serif;
  font-weight: bold; /* Жирный шрифт */
  font-size: 18px; /* Размер шрифта */
  display: flex;
  align-items: center; /* Центрирует по вертикали */
  justify-content: center; /* Центрирует по горизонтали */
  text-align: center; /
}

@media (max-width: 480px) {
  .container-2 {
    width: 100%;
  }

  .cities-title {
    margin-bottom: 10px;
    height: 85px;
  }

  .cities-title h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    letter-spacing: -0.01em; /* Отрицательное значение для уменьшения интервала между буквами */
    text-align: center;
    width: 100%;
    line-height: 1.2; 
  }

  .cities-not-found h1 {
    font-size: 30px;
    width: 350px;
    height: 50px;
  }
  
  .btn-favorites{
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-left: 2px;
  }
  
  .badge {
    top: -6px;
    right: 5px;
    width: 17px;
    height: 17px;
    font-size: 14px; /* Размер шрифта */
  }

  .cards-wrapper {
    margin-top: 5px;
    gap: 10px;
  }
}