.navbar {
    background-color: #000000;
    width: 100%;
    height: 10vh;
    min-height: 60px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.container {
    width: 100vw;
}*/

.logo {
    width: clamp(40px, 7vh, 7vh);
    height: clamp(40px, 7vh, 7vh);
    background-color: #CF0000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(19px, 3vh, 3vh);
}

.home-btn {
    height: clamp(45px, 8vh, 8vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: none;
}

.login-btn {
    height: clamp(45px, 4vh, 4vh);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(16px, 2vh, 2vh);
    color: white;
    text-decoration: none; /* Убирает подчеркивание */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Использует цвет текста от родительского элемента */
}

.login-btn:hover {
    background-color: white;
    color: black;
    border: white;
}


.home-btn:active,
.home-btn:hover {
    background-color: #000000 !important;  /* Сохраняем исходный цвет фона */
}

.home-btn img {
    height: 100%;
    object-fit: cover;
}

/*@media (max-width: 480px) {
    .navbar {
        height: 70px;
    }
    
    .logo {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
    
    .home-btn {
        width: 45px;
        height: 55px;
    }
}*/