:root {
    --active_color: black;
    --additional_color: gray;
  }
  
  .breadcrumbs {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 20px;  /* задаем размер текста */
    font-family: "Arial", sans-serif;  /* устанавливаем шрифт */
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
  
  .breadcrumbs * {
    color: var(--additional_color);
    transition: 0.5s;
  }
  
  .breadcrumbs *:not(.slash):hover {
    color: var(--active_color);
  }
  
  .breadcrumbs li {
    position: relative;
    cursor: pointer;
  }
  
  .breadcrumbs li:last-child {
    color: var(--active_color);
  }

  @media (max-width: 480px) {
    .breadcrumbs {
      gap: 10px;
      padding-bottom: 15px;
      padding-top: 50px;
      font-size: 16px;  /* задаем размер текста */
    }
  }