.container-1 {
    width: clamp(450px, 100%, 100%);
    padding-left: 25vw;
}

.intro {
    position: relative;
}

.intro h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(1.94rem, 6vh, 6vh);
    color: black;
    letter-spacing: -0.05em; /* Отрицательное значение для уменьшения интервала между буквами */
    height: auto;
    width: clamp(100%, 60vw, 60vw);
    margin-top: clamp(120px, 18vh, 18vh);
}

.intro p {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    font-size: clamp(1.2rem, 2.5vh, 2.5vh);
    color: #393939;
    line-height: clamp(1.6rem, 2.7vh, 2.7vh);
    width: clamp(100%, 35vw, 35vw);
    height: auto;
    margin-top: 3vh;
}

.intro img {
    width: 415px;
    height: 330px;
    position: relative;
    object-fit: cover;
    margin-top: 3vh;
    margin-left: 10vw;
}

.highlight {
    background-color: #F4EE55;
    padding: 0 4px; /* Немного отступа по бокам для эффекта */
}

.to-cities-button {
    margin-top: 2vh;
    height: auto;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 0.93vw, 0.93vw);
    background-color: #1890FF;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (max-width: 576px) {
    .container-1 {
        padding-left: 2vw;
    }

    .intro h1 {
        margin-top: clamp(120px, 25vh, 25vh);
    }

    .intro img {
        margin-top: 0;
        margin-bottom: 4vh;
        margin-left: calc((100% - 415px) * 0.5);
    }
}